body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    scroll-behavior: smooth; /* Para una transición suave en los anclajes */
   
}

.header {
    position: fixed;  /* Fija la barra de navegación en la parte superior */
    background-color: #0e2134;
    top: 0;
    left: 0; /* Asegura que esté en la parte superior */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1000; /* Asegura que el nav esté encima del contenido */
    align-items: center;

  
}

.header img {
    height: 120px;
    width: 200px;
    left: 50px;
    filter: drop-shadow(2px 2px 2px black);
    margin-left: 20px;
}

.nav-links {
    display: flex;
    gap: 15px;
    height: 30px;
    margin-right: 20px;
   
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hero {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 50px;
background: 
linear-gradient(
    rgba(0, 0, 0, 0.6), 
    rgba(0, 0, 0, 0.6)
),
url('../../../public/imagenes/fondo.jpg') no-repeat center center/cover;
color: #fff;
height: 100vh;
position: relative;
text-align: center;
overflow: hidden; /* Asegura que el degradado cubra el área deseada */
margin-top: 80px;
}

.hero::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 15%; /* Aumenta la altura para un degradado más sutil */
background: linear-gradient(
to bottom, 
rgba(255, 255, 255, 0) 0%, /* Color blanco transparente */
rgba(255, 255, 255, 0.5) 100% /* Color blanco semitransparente */
);
pointer-events: none; /* Permite que los clics pasen a través del degradado */
}



.hero-content {
    max-width: 600px;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-out; /* Animación de entrada */
}

.hero-content h2{
    font-size: 3rem;
}

.hero h1 {
    font-size: 3rem;
   
    margin: 0;
    color: #167ce2;
    font-weight: bold;
}

.hero p {
    font-size: 2rem;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0e2134;
    color: #fff;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    transition: transform 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}
.btn1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0e2134;
    color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
    transition: transform 0.3s;
}

.btn1:hover {
    transform: scale(1.05);
}

.doctor-container {
    position: relative;
    width: 100%;
    max-width: 500px;
    overflow: hidden; /* Oculta el borde final de la imagen */
}

.doctor {
    position: relative;
    width: 100%;
    height: auto;
    left: 40px;
    bottom: 50px;

}

.doctor img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block; /* Asegura que no haya espacios en blanco debajo de la imagen */
}

.doctor__img{
    filter: drop-shadow(5px 5px 5px black);
}



.services {
    background-color: #fff;
    padding: 50px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: #0e2134;
    animation: fadeIn 1s ease-out; /* Animación de entrada */
}

.service-item {
    display: inline-block;
    width: 250px;
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    animation: fadeInUp 1.2s ease-out; /* Animación de entrada */
}

.service-item:hover {
    transform: translateY(-10px);
}

.service-item img {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor */
    height: 150px; /* Altura fija para las imágenes */
    margin-bottom: 15px;
    object-fit: cover; /* La imagen cubrirá todo el contenedor sin distorsión */
    border-radius: 10px; /* Bordes redondeados para la imagen */
    object-position: center; /* Centra la imagen si sobra espacio */
}

.service-item h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #0e2134;
}

.service-item p {
    font-size: 0.9rem;
    color: #333;
}



.footer {
    background-color: #0e2134;
    color: #fff;
    padding: 40px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    margin: 20px;
    flex: 1;
  }
  
  .footer-section h3, .footer-section h4 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  
  .footer-section p, .footer-section a, .footer-section ul {
    font-size: 1em;
    line-height: 1.8;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-section a:hover {
    color: #00bcd4;
  }
  
  .social-icons a {
    font-size: 1.5em;
    margin-right: 15px;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #00bcd4;
  }
  
  .footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #555;
    padding-top: 20px;
    font-size: 0.9em;
  }
  

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
    }

    .hero-content {
        margin-right: 20px;
    }
}

@media (max-width: 767px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}